<div class="comment clearfix">
    <div class="comment_content">
        <p class="comment_name"><strong><%= comment.name %></strong></p>
        <p class="comment_body"><%= comment.body %></p>
        <p class="comment_time"><%=l comment.created_at, format: :long , :locale => 'tr' %>, tarihinde yazıldı.</p>
    </div>


    <% if user_signed_in? %>
    <p><%= link_to 'Sil', [comment.post, comment],
								method: :delete,
								class: "button",
								data: { confirm: 'Silmek İstediğinize Emin Misiniz ?' } %></p>
    <% end %>
</div>