<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>

    <div id="content">
        <h1>Hello, I'm Yunus.</h1>
        <p>I'm interested in web development and I enjoy that. In line
            with this area, I train myself by developing with Javascript
            and Ruby on Rails.</p>
        <p>I also use GNU/Linux operating systems
            and develop myself on these systems.</p>
        <p>I adopt the Free
            Software Philosophy and try to support it as much as I can.</p>
    </div>
</div>