<p>Hoşgeldniz<%= @email %>!</p>

<p>Hesap e-postanızı aşağıdaki bağlantı üzerinden onaylayabilirsiniz:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>