<p>Merhaba <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
<p>E-postanızın olarak değiştirildiğini bildirmek için sizinle iletişim kuruyoruz <%= @resource.unconfirmed_email %>.</p>
<% else %>
<p>E-postanızın şu şekilde değiştirildiğini bildirmek için sizinle iletişim kuruyoruz <%= @resource.email %>.</p>
<% end %>