<p>Merhaba <%= @resource.email %>!</p>

<p>Birisi şifrenizi değiştirmek için bir bağlantı istedi. Bunu aşağıdaki bağlantıdan yapabilirsiniz.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bunu talep etmediyseniz, lütfen bu e-postayı dikkate almayın.</p>
<p>Yukarıdaki bağlantıya erişip yeni bir tane oluşturana kadar şifreniz değişmeyecektir.</p>