<p>Merhaba <%= @resource.email %>!</p>

<p>Çok sayıda başarısız oturum açma girişimi nedeniyle hesabınız kilitlendi.</p>

<p>Hesabınızın kilidini açmak için aşağıdaki bağlantıyı tıklayın:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>